<footer class="footer">
  <small>
    <strong><a href="http://pedram-app.herokuapp.com/todos">Matacode Development</a></strong>
    by <em><a href="http://pedram-app.herokuapp.com/todos">Pedram Aghasian</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#'%></li>
    </ul>
  </nav>
</footer>  